@model fronk.Models.Event

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        body {
            margin: 0;
        }
    
        .card-container {
            display: flex;
            flex-direction: column;
            height: 500px;
            width: 600px;
        }
    
        .panel {
            background: white;
            height: 200px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    
        .map {
            height: 1000px;
        }
    
        input:focus::placeholder {
            color: white;
        }
    </style>
    @section Scripts {
        <script type="module" src="~/js/keys.js"></script>
        <script src="~/js/Maps.js"></script>
        <script type="text/javascript">
            $(window).on("load",function() { generateGoogleSrcTag("#map-col"); });
        </script>
    }
   
  <script>  
      "use strict";
    
      function initMap() {
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 11,
          // center: { lat: 37.4221, lng: -122.0841 },
          mapTypeControl: false,
          fullscreenControl: true,
          zoomControl: true,
          streetViewControl: true
        });
        const marker = new google.maps.Marker({map: map, draggable: false});
        const autocompleteInput = document.getElementById('location');
        const country =  '@ViewData["Country"]';
        const autocomplete = country 
        ? new google.maps.places.Autocomplete(autocompleteInput, {componentRestrictions: {country}})
        : new google.maps.places.Autocomplete(autocompleteInput);
        autocomplete.addListener('place_changed', function () {
          marker.setVisible(false);
          const place = autocomplete.getPlace();
          if (!place.geometry) {
              window.alert('No details available for input: \'' + place.name + '\'');
            } else {
               renderAddress(place);
               fillInAddress(place);
            }
          
           if (country) {
              autocomplete.setComponentRestrictions({country})
           }
        });
    
        function fillInAddress(place) { 
          document.getElementById('location').value = place.name;
          document.getElementById('invisibleLocationInput').value =  place.place_id;
        }
    
        function renderAddress(place) {
          map.setCenter(place.geometry.location);
          marker.setPosition(place.geometry.location);
          marker.setVisible(true);
        }
      }
  </script>
</head>
<h1>Create</h1>

<h4>Event</h4>
<hr/>

<div class="row">
    <form asp-action="Create" class="row">
        <div class="col-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (ViewBag.Orgs != null)
            {
                <div class="form-group">
                    Organization
                    <select asp-for="OrganizationId" class="form-control" 
                            asp-items="ViewBag.Orgs"></select>
                </div>
            }
            else
            {
                <div class="form-group">
                    Organization
                    <input value="@ViewBag.OrgName" class="form-control" type="text" placeholder="const org" readonly>
                    <input asp-for="OrganizationId" style="display: none" readonly>
                </div>
            }
     
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control"/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventCategoryId" class="control-label"></label>
                <select asp-for="EventCategoryId" class="form-control" asp-items="ViewBag.EventCategoryId"></select>
                <span asp-validation-for="EventCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control"/>
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageSrc" class="control-label"></label>
                <input asp-for="ImageSrc" class="form-control"/>
                <span asp-validation-for="ImageSrc" class="text-danger"></span>
            </div>
        </div>
        <div class="col-6" id="map-col">
            <div class="card-container">
                <div class="panel">
                    <input type="text" class="form-control" asp-for="Location.Name" name="placeName" placeholder="Address" id="location"/>
                    <input id="invisibleLocationInput" asp-for="Location.PlaceId" name="placeId" style="display: none"/>
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
                <div class="map" id="map"></div>
            </div>
        </div>
        <div class="form-group row">
            <input type="submit" value="Create" class="btn btn-primary"/>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>