@model fronk.Models.Event

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        .container {
            margin: 0;
            padding-left: 0;
        }
        
        .carousel {
            width: 100vw;
        }
        .title-shadow{
            text-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%);
        }
        
        .title{font-size: 3rem;}
        .description{font-size: 1.5rem;}
        
        .image {
             object-fit: cover;
             height: 348px;
             opacity: 65%;
        }
        
        .map-div {
            flex: 1;
        }
        
        .map {
            height: 250px;
            width: 100%;
            margin-top: 3%;
            border-radius: 20px;
        }
        
        .details {
            margin-left: 1%;
            width: 100vw;
            display: flex;
            justify-content: space-evenly;
            padding-top: 2%;
            align-items: center;
            padding: 2vh 0;
        }
        
    </style>
    <script src="~/js/Weather.js"></script>
    <script>
        "use strict";
        
        function initMap() {
            const map = new google.maps.Map(document.getElementById("map"), {
                                            zoom: 11,
                                            center: new google.maps.LatLng(51.257195, 3.716563),
                                            mapTypeControl: false,
                                            fullscreenControl: true,
                                            zoomControl: true,
                                            });              
            
            var service = new google.maps.places.PlacesService(map);
            service.getDetails({
                placeId: "@Model.Location.PlaceId"
                }, function(result, status) {
                    if (status != google.maps.places.PlacesServiceStatus.OK) {
                      return;
                    }
                    var position = result.geometry.location;
                    const {lat,lng} = position;
                    initWeather(lng(), lat());
                    new google.maps.Marker({
                      map,
                      position,
                    });       
                    map.setCenter(position);
            });
            
            const initWeather = (lon, lat) => {
                fetchWeather(lat, lon, "@Model.Date");
            }
        }
    </script>
</head>

<div>
    <div class="carousel" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100 image" src=@Html.DisplayFor(model => model.ImageSrc)
                     alt=@Html.DisplayFor(model => model.Title)>
                <div class="container">
                    <div class="carousel-caption text-left" style="bottom: 0">
                        <h1 class="title title-shadow">@Html.DisplayFor(model => model.Title)</h1>
                        <hr>
                        <p class="description title-shadow">
                            @Html.DisplayFor(model => model.Description)
                        </p>
                        <p>
                            <a role="button" class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">
                                Edit
                            </a>
                            <a role="button" class="btn btn-primary" asp-action="Index">
                                Back to List
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="details">
        <div class="col-sm-4">
            <div class="row">
                @Html.DisplayNameFor(model => model.Organization) : @Html.DisplayFor(model => model.Organization.Name)
            </div>
            <div class="row">
                @Html.DisplayNameFor(model => model.EventCategory) : @Html.DisplayFor(model => model.EventCategory.Name)
            </div>

            <div class="row">
                @Html.DisplayNameFor(model => model.Date) : @Html.DisplayFor(model => model.Date)
            </div>

        </div>
        <div class="col-sm-6 map-div">
            <div class="map" id="map"></div>
            <script
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtATQ93pyisBzz27mni6thcPQhxM5fFP4&libraries=places&callback=initMap&channel=GMPSB_addressselection_v1_cAB" async defer>
        </script>
        </div>
    </div>
    <div class="row details" id="weather"></div>
</div>