@model fronk.Models.Event

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        .map {
            height: 400px;
        }
    </style>
</head>
<h1>Edit</h1>

<h4>Event</h4>

@section Scripts {
    <script type="module" src="~/js/keys.js"></script>
    <script src="~/js/Maps.js"></script>
    <script type="text/javascript">
        $(window).on("load",function() { generateGoogleSrcTag("#map-col"); });
    </script>
    <script>  
          "use strict";
        
          function initMap() {
            const map = new google.maps.Map(document.getElementById("map"), {
              zoom: 11,
              // center: { lat: 37.4221, lng: -122.0841 },
              mapTypeControl: false,
              fullscreenControl: true,
              zoomControl: true,
              streetViewControl: true
            });
            
            const marker = new google.maps.Marker({map: map, draggable: false});
            var service = new google.maps.places.PlacesService(map);
            service.getDetails({
               placeId: "@Model.Location.PlaceId"
               }, function(result, status) {
                   if (status != google.maps.places.PlacesServiceStatus.OK) {
                     return;
                   }
                   
                  handlePlaceInsert(result); 
            });
            
            const autocompleteInput = document.getElementById('location');
            const country = '@Model.Organization.Country';
            const autocomplete = country 
            ? new google.maps.places.Autocomplete(autocompleteInput, {country})
            : new google.maps.places.Autocomplete(autocompleteInput);
            
            autocomplete.addListener('place_changed', function () {
              marker.setVisible(false);
              const place = autocomplete.getPlace();
              if (!place.geometry) {
                // User entered the name of a Place that was not suggested and
                // pressed the Enter key, or the Place Details request failed.
                window.alert('No details available for input: \'' + place.name + '\'');
              } else {
                handlePlaceInsert(place);
              }
              if (country) {
                  autocomplete.setComponentRestrictions({country})
               }
            });
        
            const handlePlaceInsert = place => {
                 renderAddress(place);
                 fillInAddress(place);
                  if (country) {
                    autocomplete.setComponentRestrictions({country})
                  }
            }
            
            function fillInAddress(place) { 
              document.getElementById('location').value = place.name;
              document.getElementById('invisibleLocationInput').value =  place.place_id;
            }

            function renderAddress(place) {
              map.setCenter(place.geometry.location);
              marker.setPosition(place.geometry.location);
              marker.setVisible(true);
            }
          }
      </script>
}
<hr />
<div class="container">
    <form asp-action="Edit" class="row">
        <div class="col-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                Organization
                <input value="@ViewBag.OrgName" class="form-control" type="text" placeholder="const org" readonly>
                <input asp-for="OrganizationId" style="display: none" readonly>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventCategoryId" class="control-label"></label>
                <select asp-for="EventCategoryId" class="form-control" asp-items="ViewBag.EventCategoryId"></select>
                <span asp-validation-for="EventCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageSrc" class="control-label"></label>
                <input asp-for="ImageSrc" class="form-control" />
                <span asp-validation-for="ImageSrc" class="text-danger"></span>
            </div>
        </div>
        <div class="col-6" id="map-col">
            <div>
                <div class="card-container">
                    <div class="panel">
                        <input type="text" class="form-control" asp-for="Location.Name" name="placeName" placeholder="Address" id="location" />
                        <input id="invisibleLocationInput" asp-for="Location.PlaceId" name="placeId" style="display: none" />
                        <span asp-validation-for="Location" class="text-danger"></span>
                    </div>
                    <div class="map" id="map"></div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

