@using Microsoft.AspNetCore.Http
@using System.Security.Claims
@model IEnumerable<fronk.Models.Event>

@{
    ViewData["Title"] = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <script src="~/js/Events.js"></script>
    <link rel="stylesheet" href="~/css/event-card.css">
    <style>
    .centered-flex {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .row {
        width: 100%;
    }

    </style>
</head>

<div class="centered-flex row" style="margin-bottom: 1%">
    @if (ViewBag.CategoryView == true)
    {
        <a role="button" class="btn btn-primary" asp-action="Index">
            View all
        </a>
    }
    else
    {
        <h1>Events to join!</h1>
        @if (Context.User.Identity.IsAuthenticated)
        {
            <form id="titleSearchForm" asp-action="SearchByTitle" class="form-inline">
                <input class="form-control mr-sm-2" name="query" id="query" autocomplete="off"/>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        }

        string? userRole = Context.User.FindFirst(ClaimTypes.Role)?.Value;
        @if (userRole != null
             && (
                 userRole == UserRole.ORG_ADMIN.ToString()
                 || userRole == UserRole.SYS_ADMIN.ToString()
                 ))
        {
            <a class="btn btn-primary" asp-action="Create">Create New</a>
        }
    }
</div>
@if (ViewBag.CategoryView != true)
{
    <form asp-action="Search" style="
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
" class="row">
        <div class="" style="width: 20%;">
            <option>Category</option>
            <select multiple id="categoryId" name="categoryId"
                    class="form-control text-center" asp-items="ViewBag.categories">
            </select>
        </div>
        <div class="" style="width: 20%;">
            <option>Organization</option>
            <select multiple id="organizationId" name="organizationId"
                    class="form-control text-center"
                    asp-items="ViewBag.organizations">
            </select>
        </div>
        <div class="" style=" width: 20%;">
            <label class="control-label">Date</label>
            <input id="date" name="date" type="date" class="form-control text-center"/>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Search</button>
            <a role="button" class="btn btn-outline-danger" asp-action="Index">
                Clear Search
            </a>
        </div>
    </form>
}

<div id="eventsGrid" class="centered-flex container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src=@Html.DisplayFor(modelItem => item.ImageSrc) alt="Card image cap"/>
                    <div class="card-body card-content">
                        <h5 class="card-title">
                            @Html.DisplayFor(modelItem => item.Title)
                            <a class="badge badge-pill badge-primary"
                               asp-action="Category" asp-route-id="@item.EventCategoryId"
                               style="background-color: @Html.DisplayFor(modelItem => item.EventCategory.Color)">
                                @Html.DisplayFor(modelItem => item.EventCategory.Name)
                            </a>
                        </h5>
                        <div>
                            <div>
                                <i class="bi-search"></i>
                                @Html.DisplayNameFor(model => model.Organization): @Html.DisplayFor(modelItem => item.Organization.Name)
                            </div>
                            <div>
                                <i class="bi bi-calendar3"></i>
                                <span>@Html.DisplayNameFor(model => model.Date): @item.Date.ToShortDateString()</span>
                            </div>
                            <div>
                                <i class="bi bi-clock"></i>
                                <span>Time: @item.Date.ToShortTimeString()</span>
                            </div>
                            <div>
                                <i class="bi bi-geo-alt-fill"></i>
                                @Html.DisplayNameFor(model => model.Location): @Html.DisplayFor(modelItem => item.Location.Name)
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-buttons-part">
                            <a class="btn action-button" asp-controller="Events"
                               asp-action="Details" asp-route-id="@item.Id">
                                Details
                            </a>
                            @if (Context.User.Identity.IsAuthenticated)
                            {
                                bool attending = @item.Users != null
                                                 && @item.Users.Any(user => (user.Id.ToString() == Context.User.FindFirst(ClaimTypes.NameIdentifier)?.Value));
                                bool isPastEvent = DateTime.Compare(@item.Date, DateTime.Now) == -1;
                                if (isPastEvent)
                                {
                                    if (attending)
                                    {
                                        <span class="badge badge-success">
                                            You attended!
                                        </span>
                                    }
                                }
                                else
                                {
                                    @if (attending)
                                    {
                                        <button class="btn details-button" id="attendingBadge"
                                                onclick="unjoinEvent(@item.Id)">
                                            Unattend
                                        </button>
                                    }
                                    else
                                    {
                                        <button id="joinButton" type="button"
                                                class="btn action-button"
                                                onclick="joinEvent(@item.Id)">
                                            Join
                                        </button>
                                    }
                                }
                            }
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                                @if (Context.User.Identity.IsAuthenticated)
                                {
                                    string userId = @Context.User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
                                    string? role = @Context.User.FindFirst(ClaimTypes.Role)?.Value;
                                    bool isEditable = role == UserRole.SYS_ADMIN.ToString()
                                                      || (userId != null && @item.Organization.ManagerId == Int32.Parse(userId));
                                    if (isEditable)
                                    {
                                        <div class="btn-group">
                                            <a class="btn btn-sm btn-outline-secondary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                            <a class="btn btn-sm btn-outline-secondary" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                        </div>
                                    }
                                }
                                <small class="text-muted">
                                @if (@item.Users == null)
                                {
                                    <span>0</span>
                                }
                                else
                                {
                                    @item.Users.Count
                                }
                                are attending
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @if (Context.User.Identity.IsAuthenticated)
    {
        <script type="text/javascript">    
        var userId = @Context.User.FindFirst(ClaimTypes.NameIdentifier).Value; 
        var userRole = "@Context.User.FindFirst(ClaimTypes.Role).Value"; 
    </script>
        <script src="~/js/search.js"></script>
        <script type="text/html" id="hidden-template">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src={imageSrc}/>
                    <div class="card-body card-content">
                        <h5 class="card-title">
                            {title}
                            <a class="badge badge-pill badge-primary"
                               style="background-color: black" href="/Events/Category/{catId}">
                                {catName}
                            </a>
                        </h5>
                        <div>
                            <div>
                                <i class="bi-search"></i>
                                @Html.DisplayNameFor(model => model.Organization): {orgName}
                            </div>
                            <div>
                                <i class="bi bi-calendar3"></i>
                                <span>@Html.DisplayNameFor(model => model.Date):{date} </span>
                            </div>
                            <div>
                                <i class="bi bi-geo-alt-fill"></i>
                                @Html.DisplayNameFor(model => model.Location): {locName}
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="actions" class="card-buttons-part">
                            <a class="btn action-button" href="/Events/Details?id={id}">
                                Details
                            </a>
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group" id="muted-actions"></div>
                            <small class="text-muted">
                                {attendeesCount} attending
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </script>
    }
}