﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - fronk</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/organizations.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">fronk</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link nav-part" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-part" asp-area="" asp-controller="Organizations" asp-action="Index">Explore Organizations</a>
                        </li>
                        @if (Context.User != null && Context.User.Claims != null && Context.User.Claims.Count() > 0)
                        {
                            <li class="nav-item">
                                <a class="nav-link nav-part" asp-area="" asp-controller="Organizations" asp-action="MyOrganization">My Organization</a>
                            </li>
                        }
                            <li class="nav-item">
                                <a class="nav-link nav-part" asp-area="" asp-controller="Events" asp-action="Index">Events</a>
                            </li>

                            @if (Context.User.Claims.FirstOrDefault(claim => claim.Type.Contains("Role", StringComparison.OrdinalIgnoreCase)) != null &&
                            Context.User.Claims.FirstOrDefault(claim => claim.Type.Contains("Role", StringComparison.OrdinalIgnoreCase)).Value == UserRole.SYS_ADMIN.ToString())
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Administration
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <li><a asp-controller="Administration" asp-action="Statistics">Statistics</a></li>
                                        <li><a asp-controller="Administration" asp-action="Users">Users</a></li>
                                        <li><a asp-controller="EventCategories" asp-action="Index">Event Categories</a></li>
                                    </ul>
                                </li>
                            }


                            @if (Context.User != null && Context.User.Claims != null && Context.User.Claims.Count() > 0)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Logout">Logout</a>
                                </li>

                                <div>
                                    Hi @Context.User.Identity.Name
                                </div>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
                                </li>
                            }
                        </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
@*<script src="~/lib/jquery/dist/jquery.js"></script>*@
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/react-dot-net.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>

