﻿@model fronk.Models.Organization

@{
    ViewData["Title"] = "Create";
}

<head>
    <style>
        body {
            background: -webkit-linear-gradient(left, #0072ff, #00c6ff);
        }

        .contact-form {
            background: #fff;
            margin-top: 10%;
            margin-bottom: 5%;
            width: 90%;
        }

            .contact-form .form-control {
                border-radius: 1rem;
            }

        .contact-image {
            text-align: center;
        }

            .contact-image img {
                border-radius: 6rem;
                width: 11%;
                margin-top: -3%;
            }

        .contact-form form {
            padding: 14%;
        }

            .contact-form form .row {
                margin-bottom: -7%;
            }

        .contact-form h3 {
            margin-bottom: 8%;
            margin-top: -10%;
            text-align: center;
            color: #0062cc;
        }

        .contact-form .btnContact {
            width: 100%;
            border: none;
            border-radius: 1rem;
            padding: 1.5%;
            background: #42db47;
            font-weight: 600;
            color: #fff;
            cursor: pointer;
        }

        .btnContactSubmit {
            width: 50%;
            border-radius: 1rem;
            padding: 1.5%;
            color: #fff; 
            background-color: #0062cc;
            border: none;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div class="container contact-form">
        <div class="contact-image">
            <img src="https://freeiconshop.com/wp-content/uploads/edd/plus-flat.png" alt="rocket_contact" />
        </div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" type="text" class="form-control" placeholder="Organization's name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Country" class="control-label"></label>
                        <input asp-for="Country" class="form-control" placeholder="Country code" />
                        <span asp-validation-for="Country" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Video" class="control-label"></label>
                        <input asp-for="Video" class="form-control" placeholder="Video URL" />
                        <span asp-validation-for="Video" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" name="btnSubmit" class="btnContact btn btn-primary" value="Create" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" placeholder="Write a few words describing your org" style="width: 100%; height: 235px;" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
