﻿@using System.Security.Claims;

@model fronk.Controllers.OrgnizationForUser

@{
    ViewData["Title"] = "Index";
}

@section Scripts {
    <script src="~/js/Orgs.js"></script>
}

<head>
    <style>
        #memberBadge:hover span {
            display: none
        }

        #memberBadge:hover:before {
            content: "Remove";
        }
    </style>
</head>

<div class="container org-page-section">
    <div class="row org-page-section-content">
        <div class="col-6">
            @if (Context.User.FindFirst(ClaimTypes.Role) != null
               && Context.User.FindFirst(ClaimTypes.Role).Value != UserRole.ORG_ADMIN.ToString())
            {
                <a class="btn btn-primary" asp-action="Create">Create New</a>
            }
        </div>
        <div class="col-6">
            <form asp-controller="Organizations" asp-action="Search" class="form-horizontal">
                <div class="row">
                    <div class="col-8">
                        <div class="form-group">
                            <input id="name" name="name" class="form-control" placeholder="org name goes here" value="@ViewBag.SearchedName" />
                        </div>
                    </div>
                    <div class="col-2">
                        <div>
                            <input type="submit" value="Search" class="btn btn-outline-primary" />
                        </div>
                    </div>
                    <div class="col-2">
                        <a role="button" class="btn btn-outline-info" asp-action="Index">Clear</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8"></div>
                    <div class="col-4" id="orgAdvancedSearchOptionsToggler"><small>Advanced Search</small></div>
                </div>
                <div class="row hidden" id="orgAdvancedSearchOptions">
                    <div class="col-8">
                        <div class="form-group">
                            <input id="country" name="country" class="form-control" placeholder="country code" value="@ViewBag.SearchedCountry" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
@*<div class="org-page-section">
    <div class="org-page-section-title">
        <h3>My organization</h3>
    </div>
    <div class="org-page-section-content">
        @if (Model.Owned.Count() == 0)
        {
            <div>What are you waiting for?</div>
            <div>Start </div>
            @if (Context.User.FindFirst(ClaimTypes.Role) != null
              && Context.User.FindFirst(ClaimTypes.Role).Value != UserRole.ORG_ADMIN.ToString())
            {
                <a class="btn btn-primary" asp-action="Create">Create New</a>
            }
        }
        else
        {
            @foreach (var item in Model.Owned)
            {
                <a asp-action="Details" asp-route-id="@item.Id" class="list-group-item list-group-item-action flex-column align-items-start org-list-item">
                    <div class="d-flex w-100 justify-content-between">
                        <div style="flex: 1">
                            <h5 class="mb-1">@item.Name</h5>
                        </div>
                        <div class="mb-1" style="flex: 3; overflow: hidden; text-overflow: ellipsis; text-align: center; white-space: nowrap;">
                            @item.Description
                        </div>
                        <div style="flex: 1;float: right;display: flex;flex-direction: row-reverse;">
                            @if (
Context.User.Identity.IsAuthenticated
&& @item.ManagerId.ToString() != Context.User.FindFirst(ClaimTypes.NameIdentifier)?.Value.ToString()
)
                            {
                                bool attending = (
                                    @item.UserOrganizations
                                        .Any(uo =>
                                            uo.User.Id.ToString() ==
                                            Context.User.FindFirst(ClaimTypes.NameIdentifier)?.Value
                                        )
                                    );

                                @if (attending)
                                {
                                    <button class="btn btn-outline-info" id="memberBadge" onclick="unjoinOrg(event, @item.Id)">
                                        <span>
                                            Member
                                        </span>
                                    </button>
                                }
                                else
                                {
                                    <button id="joinButton"
                                            type="button" class="btn btn-outline-info"
                                            onclick="joinOrg(event, @item.Id)">
                                        Join
                                    </button>
                                }
                            }
                        </div>
                    </div>
                </a>
            }
        }
    </div>
</div>*@

    <div class="org-page-section">
        <div class="org-page-section-title">
            <h3>Follwed Organizations</h3>
        </div>
        <div class="org-page-section-content" id="joinedOrgs">
            @if (Model.Follwing.Count() == 0)
            {
            <div>
                <p>
                    It's seems like you are not that active...
                </p>
                <p>
                    Don't be shy, scroll down and start explore new adventures!!
                </p>
            </div>
            }
            else
            {
            @foreach (var item in Model.Follwing)
            {
                    <a asp-action="Details" asp-route-id="@item.Id" class="list-group-item list-group-item-action flex-column align-items-start org-list-item">
                        <div class="d-flex w-100 justify-content-between">
                            <div style="flex: 1">
                                <h5 class="mb-1">@item.Name</h5>
                            </div>
                            <div class="mb-1" style="flex: 3; overflow: hidden; text-overflow: ellipsis; text-align: center; white-space: nowrap;">
                                @item.Description
                            </div>
                            <div style="flex: 1;float: right;display: flex;flex-direction: row-reverse;">
                                @if (
Context.User.Identity.IsAuthenticated
&& @item.ManagerId.ToString() != Context.User.FindFirst(ClaimTypes.NameIdentifier)?.Value.ToString()
)
                                {
                                    bool attending = (
                                        @item.UserOrganizations
                                            .Any(uo =>
                                                uo.User.Id.ToString() ==
                                                Context.User.FindFirst(ClaimTypes.NameIdentifier)?.Value
                                            )
                                        );

                                    @if (attending)
                                    {
                                        <button class="btn btn-outline-info" id="memberBadge" onclick="unjoinOrg(event, @item.Id)">
                                            <span>
                                                Member
                                            </span>
                                        </button>
                                    }
                                    else
                                    {
                                        <button id="joinButton"
                                                type="button" class="btn btn-outline-info"
                                                onclick="joinOrg(event, @item.Id)">
                                            Join
                                        </button>
                                    }
                                }
                            </div>
                        </div>
                    </a>
            }
            }
        </div>
    </div>

    <div class="org-page-section">
        <div class="org-page-section-title row">
            <h3>Explore Organizations</h3>
        </div>
        <div class="org-page-section-content" id="unjoinedOrgs">
            
            @if (Model.Others.Count() == 0)
            {
                <div>
                    THERE ARE NO ORGS FOR YOU TO EXPLORE... SAD.
                </div>
            }
            else
            {
                <div class="list-group">
                    @foreach (var item in Model.Others)
                    {
                        <a asp-action="Details" asp-route-id="@item.Id" class="list-group-item list-group-item-action flex-column align-items-start org-list-item">
                            <div class="d-flex w-100 justify-content-between">
                                <div style="flex: 1">
                                    <h5 class="mb-1">@item.Name</h5>
                                </div>
                                <div class="mb-1" style="flex: 3; overflow: hidden; text-overflow: ellipsis; text-align: center; white-space: nowrap;">
                                    @item.Description
                                </div>
                                <div style="flex: 1;float: right;display: flex;flex-direction: row-reverse;">
                                    @if (
Context.User.Identity.IsAuthenticated
&& @item.ManagerId.ToString() != Context.User.FindFirst(ClaimTypes.NameIdentifier)?.Value.ToString()
)
                                    {
                                        bool attending = (
                                            @item.UserOrganizations
                                                .Any(uo =>
                                                    uo.User.Id.ToString() ==
                                                    Context.User.FindFirst(ClaimTypes.NameIdentifier)?.Value
                                                )
                                            );

                                        @if (attending)
                                        {
                                            <button class="btn btn-outline-info" id="memberBadge" onclick="unjoinOrg(event, @item.Id)">
                                                <span>
                                                    Member
                                                </span>
                                            </button>
                                        }
                                        else
                                        {
                                            <button id="joinButton"
                                                    type="button" class="btn btn-outline-info"
                                                    onclick="joinOrg(event, @item.Id)">
                                                Join
                                            </button>
                                        }
                                    }
                                </div>
                            </div>
                        </a>
                    }
                </div>
            }
        </div>
    </div>
    
    

</div>