﻿@using System.Security.Claims

@model fronk.Models.Organization

@{
    ViewData["Title"] = "Details";
}

<div>

    <h1>@Html.DisplayFor(model => model.Name)</h1>
    <hr />
    <div class="row">
        <div>
            Active at @Html.DisplayFor(model => model.Country)
        </div>
        <div>
            Owned by @Html.DisplayFor(model => model.Manager.Name)
        </div>
    </div>
    <div class="row">
        <div>
            <video src="@Html.DisplayFor(model => model.Video)" />
        </div>
    </div>
    @*<div class="row">
            @if (Model.Events == null || Model.Events.Count() == 0)
            {
                <div>The owner of this organization have not created any events yet'</div>
            }
            else
            {
                @foreach (var e in Model.Events)
                {
                    <div>
                        @e.Title
                    </div>
                }
            }
        </div>*@
    <div id="eventsGrid" class="centered-flex container">
        <div class="row">
            @if (Model.Events == null || Model.Events.Count() == 0)
            {
                <div>The owner of this organization have not created any events yet'</div>
            }
            else
            {
                @foreach (var item in Model.Events)
                {
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <img class="card-img-top" src=@Html.DisplayFor(modelItem => item.ImageSrc) alt="Card image cap" />
                            <div class="card-body card-content">
                                <h5 class="card-title">
                                    @Html.DisplayFor(modelItem => item.Title)
                                    <a class="badge badge-pill badge-primary"
                                       asp-action="Category" asp-route-id="@item.EventCategoryId"
                                       style="background-color: @Html.DisplayFor(modelItem => item.EventCategory.Color)">
                                        @Html.DisplayFor(modelItem => item.EventCategory.Name)
                                    </a>
                                </h5>
                                <div>
                                    <div>
                                        <i class="bi bi-calendar3"></i>
                                        <span>@Html.DisplayNameFor(model => model.Events[0].Date): @item.Date.ToShortDateString()</span>
                                    </div>
                                    <div>
                                        <i class="bi bi-clock"></i>
                                        <span>Time: @item.Date.ToShortTimeString()</span>
                                    </div>
                                    <div>
                                        <i class="bi bi-geo-alt-fill"></i>
                                        @Html.DisplayNameFor(model => model.Events[0].Location): @Html.DisplayFor(modelItem => item.Location.Name)
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="card-buttons-part">
                                    <a class="btn action-button" asp-controller="Events"
                                       asp-action="Details" asp-route-id="@item.Id">
                                        Details
                                    </a>
                                    @if (Context.User.Identity.IsAuthenticated)
                                    {
                                        bool attending = @item.Users != null
                                                         && @item.Users.Any(user => (user.Id.ToString() == Context.User.FindFirst(ClaimTypes.NameIdentifier)?.Value));
                                        bool isPastEvent = DateTime.Compare(@item.Date, DateTime.Now) == -1;
                                        if (isPastEvent)
                                        {
                                            if (attending)
                                            {
                                                <span class="badge badge-success">
                                                    You attended!
                                                </span>
                                            }
                                        }
                                        else
                                        {
                                            @if (attending)
                                            {
                                                <button class="btn details-button" id="attendingBadge"
                                                        onclick="unjoinEvent(@item.Id)">
                                                    Unattend
                                                </button>
                                            }
                                            else
                                            {
                                                <button id="joinButton" type="button"
                                                        class="btn action-button"
                                                        onclick="joinEvent(@item.Id)">
                                                    Join
                                                </button>
                                            }
                                        }
                                    }
                                </div>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a class="btn btn-sm btn-outline-secondary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                        <a class="btn btn-sm btn-outline-secondary" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    </div>
                                    <small class="text-muted">
                                        @if (@item.Users == null)
                                        {
                                            <span>0</span>
                                        }
                                        else
                                        {
                                            @item.Users.Count
                                        }
                                        are attending
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    </div>
