﻿@model IEnumerable<fronk.Models.Organization>
@using System.Security.Claims

@foreach (var item in Model)
{
    <a asp-action="Details" asp-route-id="@item.Id" class="list-group-item list-group-item-action flex-column align-items-start org-list-item">
        <div class="d-flex w-100 justify-content-between">
            <div style="flex: 1">
                <h5 class="mb-1">@item.Name</h5>
            </div>
            <div class="mb-1" style="flex: 3; overflow: hidden; text-overflow: ellipsis; text-align: center; white-space: nowrap;">
                @item.Description
            </div>
            <div style="flex: 1;float: right;display: flex;flex-direction: row-reverse;">
                @if (
   Context.User.Identity.IsAuthenticated
   && @item.ManagerId.ToString() != Context.User.FindFirst(ClaimTypes.NameIdentifier)?.Value.ToString()
   )
                {
                    bool attending = (
                        @item.UserOrganizations
                            .Any(uo =>
                                uo.User.Id.ToString() ==
                                Context.User.FindFirst(ClaimTypes.NameIdentifier)?.Value
                            )
                        );

                    @if (attending)
                    {
                        <button class="btn btn-outline-info" id="memberBadge" onclick="unjoinOrg(event, @item.Id)">
                            <span>
                                Member
                            </span>
                        </button>
                    }
                    else
                    {
                        <button id="joinButton"
                                type="button" class="btn btn-outline-info"
                                onclick="joinOrg(event, @item.Id)">
                            Join
                        </button>
                    }
                }
            </div>
        </div>
    </a>
}