﻿@{
    ViewData["Title"] = "Adminstration";
}

<h1>Statistics</h1>

<div class="container">
    <h2>Organizations</h2>
    <div id="organizationsGraph">
    </div>

    <h2>Events</h2>
    <div id="eventsGraph">
    </div>
</div>
@section Scripts {
    <script src="~/js/administration/statistics.js" asp-append-version="true"></script>
}
