﻿@model fronk.Models.User

@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Login";
}

<h1>Great Seeing You!</h1>

<div class="container"></div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
            <div class="alert-danger">@ViewData["ErrorMessage"]</div>
        </form>
    </div>
</div>

<div>
    Haven't joing yet? What are you waiting for? <a asp-action="Register">REGISTER</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
