﻿@using System.Security.Claims
<head>
    <style>
            img {
      max-width:100%;
    }
    .avator {
      border-radius:100px;
      width:35px;
      margin-right: 15px;
    }
    
    .tweet-wrap {
      max-width:490px;
      background: #fff;
      margin: 0 auto;
      margin-top: 15px;
      border-radius:3px;
      padding: 30px;
      border-bottom: 1px solid #e6ecf0;
      border-top: 1px solid #e6ecf0;
    }
    
    .tweet-header {
      display: flex;
      align-items:flex-start;
      font-size:13px;
    }
    .tweet-header-info {
      font-weight:bold;
    }
    .tweet-header-info span {
      color:#657786;
      font-weight:normal;
      margin-left: 5px;
    }
    .tweet-header-info p {
      font-weight:normal;
      margin-top: 5px;
      
    }
    .tweet-img-wrap {
      padding-left: 60px;
    }
    
    .tweet-info-counts {
      display: flex;
      margin-left: 60px;
      margin-top: 10px;
    }
    .tweet-info-counts div {
      display: flex;
      margin-right: 20px;
    }
    .tweet-info-counts div svg {
      color:#657786;
      margin-right: 10px;
    }
    </style>
    <link rel="stylesheet" href="~/css/home.css"/>
    <link rel="stylesheet" href="~/css/landing.css"/>
    <link rel="stylesheet" href="~/css/event-card.css"/>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/Home.js" asp-append-version="true"></script>
    <script src="~/js/Events.js"></script>
</head>


@if (ViewBag.LoggedInView == true)
{
    <div class="home">
        <aside id="tweets">
            <div>
                What people are saying about our orgs!
            </div>
        </aside>
        <div class="eventsSection">
            @if (Model.UserEvents.Count > 0)
            {
                <h5>You're Going!</h5>
                <div class="eventsPart">
                    <div class="eventsBox">
                        @foreach (Event item in Model.UserEvents)
                        {
                            <div class="col-md-4">
                                <div class="card box-shadow">
                                    <img class="card-img-top" src=@Html.DisplayFor(modelItem => item.ImageSrc) alt="Card image cap"/>
                                    <div class="card-body card-content ">
                                        <h5 class="card-title">
                                            @Html.DisplayFor(modelItem => item.Title)
                                            <a class="badge badge-pill badge-primary" asp-controller="Events"
                                               asp-action="Category" asp-route-id="@item.EventCategoryId"
                                               style="background-color: @Html.DisplayFor(modelItem => item.EventCategory.Color)">
                                                @Html.DisplayFor(modelItem => item.EventCategory.Name)
                                            </a>
                                        </h5>
                                        <div>
                                            <div>
                                                <i class="bi-search"></i>
                                                Organization: @item.Organization.Name
                                            </div>
                                            <div>
                                                <i class="bi bi-calendar3"></i>
                                                <span>Date: @item.Date.ToShortDateString()</span>
                                            </div>
                                            <div>
                                                <i class="bi bi-clock"></i>
                                                <span>Time: @item.Date.ToShortTimeString()</span>
                                            </div>
                                            <div>
                                                <i class="bi bi-geo-alt-fill"></i>
                                                Location: @item.Location.Name
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body card-buttons-part">
                                        <a class="btn action-button" asp-controller="Events"
                                           asp-action="Details" asp-route-id="@item.Id">
                                            Details
                                        </a>
                                        <button class="btn details-button" id="attendingBadge"
                                                onclick="unjoinEvent(@item.Id)">
                                            Unattend
                                        </button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
            else
            {
                <h5>join some events!</h5>
                <a role="button" class="btn btn-outline-danger"
                   asp-controller="Events" asp-action="Index">
                    GO >
                </a>
            }

            @if (Model.OrgEvents.Count > 0)
            {
                <h5>What your organizations are up to</h5>
                <div class="eventsPart">
                    <div class="eventsBox">
                        @foreach (Event item in Model.OrgEvents)
                        {
                            <div class="col-md-4">
                                <div class="card box-shadow">
                                    <img class="card-img-top" src=@Html.DisplayFor(modelItem => item.ImageSrc) alt="Card image cap"/>
                                    <div class="card-body card-content">
                                        <h5 class="card-title">
                                            @Html.DisplayFor(modelItem => item.Title)
                                            <a class="badge badge-pill badge-primary" asp-controller="Events"
                                               asp-action="Category" asp-route-id="@item.EventCategoryId"
                                               style="background-color: @Html.DisplayFor(modelItem => item.EventCategory.Color)">
                                                @Html.DisplayFor(modelItem => item.EventCategory.Name)
                                            </a>
                                        </h5>
                                        <div>
                                            <div>
                                                <i class="bi-search"></i>
                                                Organization: @item.Organization.Name
                                            </div>
                                            <div>
                                                <i class="bi bi-calendar3"></i>
                                                <span>Date: @item.Date.ToShortDateString()</span>
                                            </div>
                                            <div>
                                                <i class="bi bi-clock"></i>
                                                <span>Time: @item.Date.ToShortTimeString()</span>
                                            </div>
                                            <div>
                                                <i class="bi bi-geo-alt-fill"></i>
                                                Location: @item.Location.Name
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body card-buttons-part">
                                        <a class="btn action-button" asp-controller="Events"
                                           asp-action="Details" asp-route-id="@item.Id">
                                            Details
                                        </a>
                                        @if (Context.User.Identity.IsAuthenticated)
                                        {
                                            bool attending = @item.Users != null
                                                             && @item.Users.Any(user => (user.Id.ToString() == Context.User.FindFirst(ClaimTypes.NameIdentifier)?.Value));
                                            bool isPastEvent = DateTime.Compare(@item.Date, DateTime.Now) == -1;
                                            if (isPastEvent)
                                            {
                                                if (attending)
                                                {
                                                    <span class="badge badge-success">
                                                        You attended!
                                                    </span>
                                                }
                                            }
                                            else
                                            {
                                                @if (attending)
                                                {
                                                    <button class="btn details-button" id="attendingBadge"
                                                            onclick="unjoinEvent(@item.Id)">
                                                        Unattend
                                                    </button>
                                                }
                                                else
                                                {
                                                    <button id="joinButton" type="button"
                                                            class="btn action-button"
                                                            onclick="joinEvent(@item.Id)">
                                                        Join
                                                    </button>
                                                }
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
            else
            {
                <h5>join some orgs!</h5>
                <a role="button" class="btn btn-outline-danger"
                   asp-controller="Organizations" asp-action="Index">
                    GO >
                </a>
            }
        </div>
    </div>
}
else
{
    <div id="Landing">
        <div class="landing-texts">
            <span class="text large-title">IMAGINE AN EARTH...</span>
            <p class="text text-small">
                Where every beach looks like a luxury resort.
                Every public park is deserted of used cigarettes.
                Forests are green, healthy and wide, And endangered species are a thing of the past.
            </p>
            <span class="text text-medium">Sounds good, doesn't it?</span>
            <span class="text text-small">Want to make it a reality?</span>

            <a class="green-button" asp-controller="Login" asp-action="Register">
                JOIN TODAY
            </a>
        </div>
        @* <span onclick="application.goToTargetView(event)" id="FRONK"> *@
        @*     <span>FRONK</span> *@
        @* </span> *@
        @* <button onclick="application.goToTargetView(event)" id="Component_4__1" class="Component_4___1"> *@
        @*     <svg class="Rectangle_5"> *@
        @*         <rect id="Rectangle_5" rx="31" ry="31" x="0" y="0" width="140" height="62"> *@
        @*         </rect> *@
        @*     </svg> *@
        @*     <div id="Login_"> *@
        @*         <span>Login</span> *@
        @*     </div> *@
        @* </button> *@
        @* <span onclick="application.goToTargetView(event)" id="Events_"> *@
        @*     <span>Events</span> *@
        @* </span> *@
        @* <span onclick="application.goToTargetView(event)" id="Organizations_"> *@
        @*     <span>Organizations</span> *@
        @* </span> *@
        @* <span onclick="application.goToTargetView(event)" id="About_"> *@
        @*     <span>About</span> *@
        @* </span> *@
    </div>
}