.card {
    border-radius: 20px;
}

.card-img-top {
    max-height: 134px;
    object-fit: cover;
    border-radius: 25px;
    padding: 5%;
}

.action-button {
    background: rgba(255,172,77,1);
    border-radius: 20px;
    color: white;
    width: 35%;
    font-size: 1rem;
    white-space: nowrap;
}

.details-button {
    width: 35%;
    font-size: 1rem;
    border: rgba(255,172,77,1) solid 2px;
    border-radius: 20px;
    color: rgba(255,172,77,1);
    white-space: nowrap;
}

.card-content {
    padding-bottom: 0;
    padding-top: 0;
}

.card-buttons-part {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 3%;
}