.container {
    margin: 0;
}

.home {
    display: flex;
    flex-flow: row wrap;
    height: 97vh;
    width: 97vw;
    margin-left: 15px;
}

#tweets {
    flex: 1;
    max-height: 130vh;
    overflow: auto;
}

.eventsSection {
    max-width: 70%;
    flex: 2;
    height: 130%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.eventsSection h5 {
    display: block;
}

.eventsPart {
    overflow: auto;
}

.eventsBox {
    width: 1000px;
    display: flex;
}
