.container {
    padding: 0;
}

.pb-3 {
    width: 100vw;
    height: 90vh;
    padding: 0!important;
    overflow: auto;
}

#Landing {
    background-image: url(/images/background-flowers.png);
    background-clip: padding-box;
    height: 100%;
    width: 100%;
    right: 0;
    background-size: cover;
}

.landing-texts {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.text {
    text-align: center;
    /*font-family: Segoe UI;*/
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    width: 85%;
    color: rgba(13, 57, 6, 1);
}

.large-title {
    font-size: 5rem;
    color: rgba(22, 138, 173, 1);
}

p.text {
    width: 65%;
}

.text-medium {
    font-size: 1.8rem;
}

.text-small {
    font-size: 1.5rem;
}

.green-button {
    width: 215px;
    white-space: nowrap;
    text-align: center;
    background: rgba(135, 244, 113, 1);
    border-radius: 50px;
    color: white;
    font-size: 1.4rem;
}

#FRONK {
    left: 123px;
    top: 41px;
    position: absolute;
    overflow: visible;
    width: 159px;
    white-space: nowrap;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: Home . html;
    cursor: pointer;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 37px;
    color: rgba(83, 150, 26, 1);
}

#Component_4__1 {
    position: absolute;
    width: 140px;
    height: 62px;
    left: 1635px;
    top: 32px;
    overflow: visible;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: Login . html;
    cursor: pointer;
}

#Rectangle_5 {
    fill: rgba(31, 234, 177, 1);
}

#Login_ {
    left: 27px;
    top: 7px;
    position: absolute;
    overflow: visible;
    width: 87px;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    color: rgba(255, 255, 255, 1);
}

#Events_ {
    left: 689px;
    top: 39px;
    position: absolute;
    overflow: visible;
    width: 91px;
    white-space: nowrap;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    --web-action-target: Events . html;
    cursor: pointer;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 31px;
    color: rgba(0, 0, 0, 1);
}

