﻿.hidden {
    display: none !important;
}

.org-list-item {
    border-left-width: 0 !important;
    border-right-width: 0 !important;
    padding-top: 22px !important;
    padding-bottom: 22px !important;
}

#orgAdvancedSearchOptionsToggler {
    text-align: center;
    cursor: pointer;
}

.org-page-section {
    padding: 25px 0;
    margin-bottom: 15px;
}

.org-page-section-title {
    padding: 10px 0;
}

.org-page-section-content {
    padding: 10px 0;
}